# Deployer private key
PRIVATE_KEY = "YOUR PRIVATE KEY"

# RPC Endpoints
INFURA_KEY = "INFURA PROJECT ID"

# Additional keys
ETHERSCAN_KEY = "ETHERSCAN API KEY"
BSCSCAN_KEY = "BSCSCAN API KEY"
COINMARKETCAP_KEY = "COINMARKETCAP API KEY"

# Bridge configuration
BRIDGE_OWNER = "bridge contract owner"
BRIDGE_VALIDATORS = "addresses separated by ',' that can sign withdrawals to bridge contract"
BRIDGE_THRESHHOLD = int, number of signatures needed to check withdraw by bridge contract, example: 1
